@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #efefef;
    padding-bottom: 5vh;
}

.small-text {
    font-size: 12px;
}