@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #f8f9fa!important;
    padding-bottom: 5vh;

    .logo_position {
        
        @media screen and (max-width: 767px) {
            width: 10em !important;
            max-width: none;

        }
    }

}

.small-text {
    font-size: 12px;
}